<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yue.base.middle" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name=".activity.CommonActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
</manifest>
