<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yue.base.middle" >

    <application>
        <activity android:name="cn.yue.base.middle.activity.CommonActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="cn.yue.base.middle.activity.CommonTransparentActivity"
            android:hardwareAccelerated="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppFullTheme"/>
    </application>
</manifest>
